.recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content:space-between;
}

@media (max-width: 792px) {
  .recipe-list {
    justify-content:space-around;
  }
}
@media (max-width: 600px) {
  .recipe-list {
    display: flex;
    flex-direction: column;
    align-content:center;
  }
}