.recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content:space-between;
}

@media (max-width: 862px) {
  .recipe-list {
    justify-content:space-between;
  }
}
@media (max-width: 650px) {
  .recipe-list {
    display: flex;
    flex-direction: column;
    align-content:center;
  }
}